form{
    padding:1.5rem;
    border-radius:12px;
    border:1px solid whitesmoke;
    display:inline-block;
    background-color:whitesmoke;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

ul>li+li{
    margin-top:1rem;
}

label{
    display:inline-block;
    width:90px;
    text-align:right;
}

input{
    font:1rem;
    width:200px;
}

.books{
    background-color:whitesmoke;
    margin-top:20px;
    border-radius:12px;
    padding:1.5rem;
    display:grid;
    gap:16px;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
}

.test{
    width:400px;
    height:400px;
    padding:1.5rem;
    background-color:whitesmoke;
}

h1{
    text-align:center;
}
  
.card{
    width:200px;
    height:100px;
    background-color:lightblue; 
}